@charset "utf-8";
.c-card {
  cursor: pointer;
  background: #fff;
  box-shadow: 0 2px 5px #ccc;
  margin-bottom: 1px;
  position: relative;
  height: 100%;
  &__thumnail {
    width: 100%;
  }
  &__title {
    font-size: 12px;
    padding: 10px 5px 25px;
    @include sm {
      font-size: 14px;
      padding: 20px;
    }
    @include lg {
      font-size: 18px;
      padding: 10px 15px 40px;
    }
    font-weight: bold;
  }
  &__createdAt {
    font-size: 12px;
    position: absolute;
    bottom: 0px;
    right: 5px;
    @include md {
      font-size: 14px;
    }
    @include lg {
      font-size: 18px;
    }
    // text-align: right;
    // vertical-align: bottom;
    // padding-right: 10px;
  }
}
