@charset "utf-8";
.c-outline{
  margin: 0px 30px 50px;
  border: 2px solid ;
  border-color: #cfd8ff;
  &__title{
    text-align: center;
    font-size: 23px;
    color: grey;
    padding: 10px;
    & .hide{
      font-size: 20px;
    }
  }
  &__contents{
    margin: 0 auto;
    padding: 20px 50px;
    letter-spacing: 4px;
    & .top{
      & .outline--H2{
        & .text{
          display: inline-block;
          &:hover{
            text-decoration: underline;
          }
        }
        cursor: pointer;
        padding: 0px 0px 10px;
        font-size: 17px;
        & .number{
          color: #93a7ff;
          margin: 0px 20px 0px 0px;
        }
        & .lower{
          margin-top: 10px;
          & .outline--H3{
            cursor: pointer;
            list-style-type: disc;
            font-size: 14px;
            padding: 2px 0px;
            margin: 0px 0px 0px 50px;
            & .text{
              display: inline-block;
              &:hover{
                text-decoration: underline;
              }
            }
          }
        }
      }
    }

  }
}