@charset "utf-8";
.c-outline{
  margin: 0px 0px 50px;
  border: 2px solid ;
  border-color: #cfd8ff;
  @include md{
    margin: 0px 30px 50px;
  }
  &__title{
    text-align: center;
    font-size: 15px;
    color: grey;
    padding: 10px;
    @include sm{
      font-size: 23px;
    }
    & .hide{
      cursor: pointer;
      font-size: 10px;
      &:hover{
        border-bottom: solid #9dafff;
      }
      @include sm{
        font-size: 20px;
      }
    }
  }
  &__contents{
    margin: 0 auto;
    letter-spacing: 4px;
    padding: 10px 10px;
    @include md{
      padding: 20px 50px;
    }
    & .top{
      & .outline--H2{
        & .area{
          display: flex;
          cursor: pointer;
          font-size: 15px;
          @include sm{
            font-size: 17px;
          }
          & .text{
            display: inline-block;
            text-decoration: none;
            color: black;
            &:hover{
              color: #9dafff;
              text-decoration: underline;
            }
          }
          & .number{
            color: #93a7ff;
            margin: 0px 20px 0px 0px;
          }
        }
        & .lower{
          padding: 5px 0px 10px;
          & .outline--H3{
            cursor: pointer;
            list-style-type: disc;
            font-size: 14px;
            padding: 5px 0px;
            margin: 0px 0px 0px 50px;
            & .text{
              color: black;
              display: inline-block;
              &:hover{
                text-decoration: underline;
              }
            }
          }
        }
      }
    }

  }
}