@charset "utf-8";
.l-header {
  background-color: #3b4675;
  height: 50px;
  @include md{
    height: 100px;
  }
  & .header-area {
    text-align: center;
    line-height: 50px;
    @include md{
      line-height: 100px;
    }
    &__title {
      font-size: 2rem;
      @include md{
        font-size: 3rem;
      }
      & .link {
        text-decoration: none;
        color: white;
      }
    }
  }
}
