.article-area{
  &__detail-content{
    @include md{
      padding: 0px 30px;

    }
    h2{
      background-color: #3b4675;
      color: white;
      margin: 25px 0px 15px;
      letter-spacing: 5px;
      padding: 10px;
      font-size: 23px;
      @include md{
        margin: 30px 0px 20px;
        letter-spacing: 5px;
        padding: 15px;
        font-size: 22px;
      }

    }
    h3{
      border-bottom: solid 3px #cfd8ff;
      letter-spacing: 2px;
      padding: 10px 0px 2px;
      margin-bottom: 15px;
      font-size: 17px;
      @include md{
        padding: 20px 0px 2px;
        margin-bottom: 15px;
        font-size: 23px;
      }
    }
    P{
      letter-spacing: 0.1em;
      line-height: 2.0;
      font-size: 15px;
      overflow: scroll;
    }
    pre{
      padding: 10px;
      background-color: #364549;
      color: white;
      font-size: 14px;
      margin: 15px 0px;
      overflow: scroll;
    }
  }
}